/**
 * @section Layout
 * Styling for section layouts
 */

.complete body {
	@media (min-width: $bp-large) {
		background-image: -webkit-linear-gradient(left, $color-gray-lighter 0%, $color-gray-lighter 25%, transparent 25%, transparent 100%);
		background-image: linear-gradient(to right, $color-gray-lighter 0, $color-gray-lighter 25%, transparent 25%, transparent 100%);
	}
}

.content,
#main {
	min-height: 70vh;
}

#nav-user-wrapper {}

#nav-user-list {
	@extend .list-unstyled;

	@media (max-width: $bp-large) {
		padding: 0;

		.js-astro & {
			margin-left: -0.5em;
			margin-right: -0.5em;
		}

		& > li {
			display: inline-block;
			margin-left: 0.5em;
			margin-right: 0.5em;
		}
	}
}

#nav-primary-menu {
	padding-bottom: $spacing;

	.loading & {
		margin-bottom: 0;
	}
}

#nav-primary-list {
	@extend .list-unstyled;
	border-bottom: 1px solid $color-gray-light;
	margin-bottom: 0.5em;
	padding-bottom: 0.5em;

	@media (max-width: $bp-large) {
		padding: 0;

		.js-astro & {
			margin-left: -0.5em;
			margin-right: -0.5em;
		}

		& > li {
			display: inline-block;
			margin-left: 0.5em;
			margin-right: 0.5em;
		}
	}
}

#nav-secondary-list {
	@extend .list-inline;
}

#nav-account {
	@extend .list-inline;

	a {
		@extend .link-no-underline;
	}
}

#nav-mashery-account {
	@extend .list-inline;

	a {
		@extend .link-no-underline;
	}
}

#nav-docs {
	@extend .list-unstyled;

	a {
		@extend .link-no-underline;
	}

	.docs-nav-dropdown {
		& > summary {
			color: $color-primary;
			cursor: pointer;
			list-style: none;

			&::-webkit-details-marker {
				display: none;
			}

		}

		& > summary:after {
			content: ' \25b6';
		}

		&[open] > summary:after {
			content: ' \25bc';
		}
	}

	// Active link
	.current-page > a {
		color: $color-gray-dark;
	}
}

#footer {
	background-color: $color-white;
	border-top: 1px solid $color-gray-light;
	margin-top: 2em;
	padding-top: 2em
}