/**
 * Text alignment
 */
.nav-wrap {
	text-align: center;

	@media (max-width: $bp-large) {
		.js-astro &  {
			text-align: left;
		}
	}

	@media (min-width: $bp-large) {
		text-align: left;
	}

	a {
		text-decoration: none;

		&:active,
		&:focus,
		&:hover {
			text-decoration: underline;
		}
	}
}


/**
 * Logo
 */
a.logo {
	color: $color-black;
	display: inline-block;
	font-size: 1.2em;
	line-height: 1.2;
	// margin-bottom: 0.5em;
	text-decoration: none;

	&:hover {
		color: $color-black;
		text-decoration: none;
	}

	@media (min-width: $bp-large) {
		.js-astro & {
			float: left;
		}

		// margin-bottom: 0;
	}

	@media (min-width: $bp-large) {
		float: left;
	}
}


/**
 * Navigation Menu Container
 */
@media (max-width: $bp-large) {
	.js-astro .nav-collapse {
		// box-sizing: border-box;
		display: none;
		width: 100%;

		&.active {
			display: block;
		}
	}

	.js-astro .nav-collapse.nav-menu {
		margin-top: 0.5em;

		li {
			display: block;
			// width: 100%;
			padding-top: 0.25em;
			padding-bottom: 0.25em;
			// box-sizing: border-box;
		}
	}
}


/**
 * Navigation Menu
 */
.nav {
	list-style: none;
	margin: 0 -0.5em;
	padding: 0;

	& > li {
		display: inline-block;
		float: none;
		margin-left: 0.5em;
		margin-right: 0.5em;
	}

	// Active link styling
	.current-page > a {
		color: $color-gray-dark;
	}

	@media (max-width: $bp-large) {
		.js-astro & {
			text-align: left;
		}
	}

	@media (min-width: $bp-large) {
		text-align: right;
	}
}


/**
 * Navigation Toggle
 */
.nav-toggle {
	display: none;
	visibility: hidden;

	@media (max-width: $bp-large) {
		.js-astro & {
			display: block;
			float: right;
			visibility: visible;
		}
	}
}