/**
 * @section Tables
 * Styling for tables
 */

table {
	border-collapse: collapse;
	border-spacing: 0;
	margin-bottom: $spacing;
	max-width: 100%;
	width: 100%;
}

th,
td {
	text-align: left;
	padding: calc-em(8px);
}

td {
	border-top: calc-em(1px) solid $color-gray-light;
	vertical-align: top;
}

thead td,
th {
	// background-color: lighten( $color-gray-light, 5% );
	border-top: none;
	border-bottom: calc-em(2px) solid $color-gray-light;
	font-weight: bold;
	vertical-align: bottom;
}

/**
 * Adds zebra striping
 */
.table-striped tbody tr:nth-child(odd) {
	background-color: lighten( $color-gray-light, 7% );
}


/**
 * Reduces padding on condensed tables
 */
.table-condensed th,
.table-condensed td, {
	padding: calc-em(4px);
}