/**
 * @section Layout
 * Styling for section layouts
 */


#nav-user-wrapper {
	background-color: $color-gray-lighter;
}

#nav-user-list {
	a {
		text-decoration: none;

		&:active,
		&:focus,
		&:hover {
			text-decoration: underline;
		}
	}
}

#nav-primary {
	background-color: $color-white;
	border-bottom: calc-em(1px) solid $color-gray-light;
	margin-bottom: $spacing;

	.loading &,
	.full-width & {
		margin-bottom: 0;
	}
}

#nav-secondary-list {
	@extend .list-inline;
}

#nav-account {
	@extend .list-inline;

	a {
		@extend .link-no-underline;
	}
}

#nav-mashery-account {
	@extend .list-inline;

	a {
		@extend .link-no-underline;
	}
}

#nav-docs {
	// Active link
	.current-page > a {
		color: $color-gray-dark;
	}
}

#footer {
	background-color: $color-white;
	border-top: calc-em(1px) solid $color-gray-light;
	margin-top: calc-em(32px);
	padding-top: calc-em(32px);
}