/**
 * @section Layout
 * Styling for section layouts
 */


#nav-user-wrapper {}

#nav-user-list {
	@media (min-width: $bp-large) {
		float: right;
	}

	@media (max-width: $bp-large) {
		.js-astro & {
			border-bottom: calc-em(1px) solid $color-gray-light;
		}
	}
}

#nav-primary {
	background-color: $color-white;
	border-bottom: calc-em(1px) solid $color-gray-light;
	margin-bottom: $spacing;

	.loading &,
	.full-width & {
		margin-bottom: 0;
	}
}

#nav-secondary-list {
	@extend .list-inline;
}

#nav-account {
	@extend .list-inline;

	a {
		@extend .link-no-underline;
	}
}

#nav-mashery-account {
	@extend .list-inline;

	a {
		@extend .link-no-underline;
	}
}

#nav-docs {
	// Active link
	.current-page > a {
		color: $color-gray-dark;
	}

	.js-docs-expand & li > ul {
		display: none;
		visibility: hidden;
	}

	li.is-shown > ul,
	li.active > ul {
		display: block;
		visibility: visible;
	}
}

.docs-expand-toggle {
	float: right;
}

.docs-expand-show,
.js-docs-expand .is-shown .docs-expand-show,
.docs-expand-hide {
	display: none;
	visibility: hidden;
}

.js-docs-expand .docs-expand-show,
.is-shown .docs-expand-hide {
	display: inline-block;
	visibility: visible;
}

#footer {
	background-color: $color-white;
	border-top: calc-em(1px) solid $color-gray-light;
	margin-top: calc-em(32px);
	padding-top: calc-em(32px)
}