/**
 * Text alignment
 */
.nav-wrap {
	@media (max-width: $bp-large) {
		background-color: $color-gray-lighter
	}

	a {
		text-decoration: none;

		&:active,
		&:focus,
		&:hover {
			text-decoration: underline;
		}
	}

}


/**
 * Logo
 */
a.logo {
	color: $color-black;
	display: inline-block;
	font-size: 1.2em;
	line-height: 1.2;
	text-decoration: none;

	&:active,
	&:focus,
	&:hover {
		color: $color-black;
		text-decoration: none;
	}

	// @media (min-width: $bp-large) {
	// 	.js-astro .nav-collapse & {
	// 		float: left;
	// 	}

	// 	// margin-bottom: 0;
	// }

	@media (min-width: $bp-large) {
		margin-bottom: $spacing;
	}
}


/**
 * Navigation Menu Container
 */
@media (max-width: $bp-large) {
	.js-astro .nav-collapse {
		// box-sizing: border-box;
		display: none;
		width: 100%;

		&.active {
			display: block;
		}

	}

	.js-astro .nav-collapse.nav-menu {
		margin-top: calc-em(8px);

		li {
			display: block;
			width: 100%;
			padding-top: calc-em(4px);
			padding-bottom: calc-em(4px);
			box-sizing: border-box;
		}
	}
}


/**
 * Navigation Menu
 */
.nav {
	// list-style: none;
	// margin: 0 calc-em(-8px);
	// padding: 0;

	// & > li {
	// 	display: inline-block;
	// 	float: none;
	// 	margin-left: calc-em(8px);
	// 	margin-right: calc-em(8px);

	// 	// Active Link Styling
	// 	&.active > a {}
	// }

	// @media (max-width: $bp-large) {
	// 	.js-astro .nav-collapse & {
	// 		text-align: left;
	// 	}
	// }

	// @media (min-width: $bp-large) {
	// 	text-align: right;
	// }

	// Active link styling
	.current-page > a {
		color: $color-gray-dark;
	}
}


/**
 * Navigation Toggle
 */
.nav-toggle {
	display: none;
	visibility: hidden;

	@media (max-width: $bp-large) {
		.js-astro & {
			display: block;
			float: right;
			visibility: visible;
		}
	}
}


// Clearfix
@extend .clearfix;