/**
 * @section Swagger
 * Styling specific to Swagger pages
 */

.swagger-ui {

	.topbar,
	.info .url {
		@extend [hidden];
	}

	.scheme-container {
		@extend .credentials;
		@extend .margin-top;

		.btn svg {
			display: none;
			visibility: hidden;
		}
	}

	.opblock-tag {

		& > a {
			@extend .h3;
			color: $color-black;
			text-decoration: none;
		}

		small {
			@extend .text-muted;
			font-size: 1em;
			text-transform: none;
		}

		.expand-operation {
			display: none !important;
			visibility: hidden !important;
		}

	}

	.opblock {
		margin-bottom: $spacing;
		padding: calc-em(12px);
	}

	.opblock-get {
		background-color: mix(white, $color-get, 90%);
		border: calc-em(1px) solid mix(white, $color-get, 75%);
	}

	.opblock-post {
		background-color: mix(white, $color-post, 90%);
		border: calc-em(1px) solid mix(white, $color-post, 75%);
	}

	.opblock-put {
		background-color: mix(white, $color-put, 90%);
		border: calc-em(1px) solid mix(white, $color-put, 75%);
	}

	.opblock-delete {
		background-color: mix(white, $color-delete, 90%);
		border: calc-em(1px) solid mix(white, $color-delete, 75%);
	}

	.opblock-patch {
		background-color: mix(white, $color-patch, 90%);
		border: calc-em(1px) solid mix(white, $color-patch, 75%);
	}

	.opblock-options {
		background-color: mix(white, $color-options, 90%);
		border: calc-em(1px) solid mix(white, $color-options, 75%);
	}

	.opblock-head {
		background-color: mix(white, $color-head, 90%);
		border: calc-em(1px) solid mix(white, $color-head, 75%);
	}

	.opblock-summary-method {
		border-radius: calc-em(5px);
		color: $color-white;
		display: inline-block;
		font-family: $font-monospace;
		font-size: calc-em(15px);
		margin-right: calc-em(8px);
		padding: calc-em(4px) calc-em(8px);
		text-align: center;
	}

	.opblock-get .opblock-summary-method {
		background-color: $color-get;
	}

	.opblock-post .opblock-summary-method {
		background-color: $color-post;
	}

	.opblock-put .opblock-summary-method {
		background-color: $color-put;
	}

	.opblock-delete .opblock-summary-method {
		background-color: $color-delete;
	}

	.opblock-patch .opblock-summary-method {
		background-color: $color-patch;
	}

	.opblock-options .opblock-summary-method {
		background-color: $color-options;
	}

	.opblock-head .opblock-summary-method {
		background-color: $color-head;
	}

	.opblock-summary-path a {
		color: $color-black;
		text-decoration: none;

		&:active,
		&:hover {
			text-decoration: underline;
		}
	}

	.models h4 {
		@extend .h3;

		svg {
			@extend [hidden];
		}
	}

	.model-box {

		.inner-object,
		.brace-open,
		.brace-close {
			@extend pre;
		}

		table {
			margin-bottom: 0;

			td {
				border-top: none;
			}

			thead td,
			th {
				border-bottom: none;
			}
		}

		.brace-close {
			margin-bottom: $spacing;
		}

	}

}